/* 
Selectores
on patrones que permiten
seleccionar

tipos de selectores
1.Selectores basicos
-universal
-de tipo
2. Selectores de clase
3. Selectores de ID
 Seleccionan un elemento ùnico con identificador especifico
 se usa la 'notaciòn' del numeral(#) antes del nombre del id
 #nombreId {
  propiedad: valor;
}
4. Selectores combinados
 -decendentes
 seleccionan elementos dentro de otros elementos
 elemento elementoInterno {
  propiedad: valor;
}
 -hijo directo
 Selecciona elementos que son hijo directos de un elemento padre
 
 -elementos adjecentes
 -hermano general
 
 5. selector de atribuos
 -atributos
 -atibutos + valor
6. selectores avanzados
pseudo clases
pseudo elementos
*/

/* 
Selectore basicos
 */
 /* 
 Selectore universal
  */

*{
  /* border: 2px solid red; */
  /* Resset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: cornflowerblue;
}
h1{
  color: black;
}
p{
  font-size: 24px;
}
header{background-color: yellowgreen;}

.content {
  background-color: cadetblue; padding: 48px;

}
.hero {
  background-color: blue;padding: 24px;
}
.hero-title {
  background-color: maroon  ; color: aliceblue; text-align: center;
}
#about-title{
  color: aquamarine;
  font-size: 72px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* combinado elemento descenendientes */
aside section {
  background-color: crimson;padding: 48px;
}

.aside-section h3 {
  color: beige; text-align: right; padding: 24px; background-color: blue;
}
.lista > li {
  font-size: 28px;
  color: azure;
  font-family: fantasy;
  background-color: blue;
}
/* Elemento adyacente */
h3 + ul {
  list-style-type: none;
}
.bro + li {
  background-color: cadetblue;
}
.bro + li ~ li{
  background-color: yellowgreen;

}
.tercero ~ li {
  color: black;
  font-size: 30px;
}
a[href] {
  display: block;
  text-decoration: none;
  color: antiquewhite;
}
a[href="https://www.instagram.com"] {
  font-size: 60px;
  color: blueviolet;
}
a:hover {
  background-color: coral;
  color: azure;
}
a:focus {
  border: 3px solid red; 
}
a::after {
  content: "AAAAAAAA";
}
a::before {
   content: "La matracatacataca";
}